* {
    margin: 0;
    padding: 0;
    }
body {
    background-image: url('images/bac.jpg');
    background-size: cover;
    display: block;
}
h1 {
    text-align: center;
    color: #f2eeb3;
}
.logo {
    width: 150px;
    height: 150px;
}
p {
    color: #f2eed4;
    font-family: "Dancing Script";
}
